%h1
  Listagem de Restaurantes

%table
  %tr
    %th
      Nome
    %th
      Endereço
    %th
      Especialidade

  = render :partial => 'restaurante', :collection => @restaurantes
%br
= link_to 'Novo', action: 'new'