%h1
  Listagem de Restaurantes

%table.table.table-bordered.table-striped
  %tr
    %th
      Nome
    %th
      Endereço
    %th
      Especialidade

  = render :partial => 'restaurante', :collection => @restaurantes

= paginate @restaurantes

%br
= link_to 'Novo', action: 'new'