// Place all the styles related to the Inicio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-unit {
  border: solid 3px;
  box-shadow: 1px 3px 4px 1px lightslategray;
  margin-top: 15px
}